.App {
  text-align: center;
}

html, body, #root, .App {
  height: 100%;
}

/* Sidebar Navigation */
li > a {
  text-decoration: none;
  color: white;
}

li > a:hover {
  color: white;
}

.sidebar {
  background-color: #F26835;
}

.logo {
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
}

.nav-item {
  font-weight: 700;
  margin: 15px;
}

.flex-column > hr {
  color: white;
  width: 90%;
  margin-left: 15px;;
}

/* Search Bar*/
.search-bar {
  display: flex;
  height: 10%;
  align-items: center;
}

.search-bar > .navbar-light .navbar-brand {
  color: #707070;
  font-size: 1.5em;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline > input {
   display: flex;
}

.form-inline > button {
  display: flex;
}

/* Dashboard */
#dashboard {
  padding: 0;
}

.dashboard-body {
  margin-top: 0;
  height: 90%;
  background-color: #f2f2f2;
}

.page-title {
  color: #707070;
  font-size: 3em;
  font-weight: 400;
  text-align: left;
  margin-left: 50px;
}